@model BookStore.Models.BookModel
@using Microsoft.AspNetCore.Http;

<link href="~/css/BookDetail.css" rel="stylesheet" />

@{
    ViewData["bookId"] = Model.Id;
    var userId = Context.Session.GetString("userId");

}

<div class="product-detail card">
    <div class="product-image">
        <img src="@Model.Image" alt="@Model.Title">
    </div>
    <div class="product-info">
        <h1 class="product-title">@Model.Title</h1>
        <p class="product-author">by @Model.Author</p>
        <hr>
        <p class="product-publisher"><strong>Publisher:</strong> @Model.Publisher</p>
        <p class="product-publisher"><strong>Genre:</strong> @Model.Genre</p>
        <p class="product-isbn"><strong>ISBN:</strong> @Model.ISBN</p>
        <p class="product-price"><strong>Price:</strong> ₹@Model.Price</p>
        <div class="product-actions">

            @if (userId != null)
            {
                <form  method="post" asp-action="AddToCart" asp-controller="Cart">
                    <input type="hidden" name="BookId" value="@Model.Id">
                    <button type="submit">
                        <i class="fas fa-cart-plus"></i> Add to Cart
                    </button>
                </form>
                
            }

        </div>
        <hr>
        <p class="product-description">@Model.Description</p>

        <h2 class="product-reviews-heading">Customer Reviews</h2>
        <ul class="product-reviews">
            <partial name="_BookReview" for="Reviews" />
        </ul>
        @if (userId != null)
        {
            <ul>
                <partial name="_Postreview" for="Review" />
            </ul>
        }
    </div>
</div>


