@using Microsoft.AspNetCore.Http
@using BookStore.Common;
@{
    var userId = Context.Session.GetString("userId");
    var admin = Context.Session.GetString("userName");
    var encryptEmail = "";
    if (userId != null)
    {
        encryptEmail = Base64.Base64Encode(userId);

    }
    if (admin != null)
    {
        encryptEmail = Base64.Base64Encode(admin);

    }
}


<link href="~/css/Topnavbar.css" rel="stylesheet" />
<header>
    <nav class="navbar navbar-expand-md navbar-light bg-light">
        <a class="navbar-brand order-md-1" href="#">BookStore</a>
        <button class="navbar-toggler order-md-2" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse order-md-3" id="navbarNavDropdown">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link" asp-controller="Home" asp-action="Index">Home</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" asp-controller="Home" asp-action="Privacy">Privacy</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" asp-controller="Home" asp-action="Contact">Contact Us</a>
                </li>

            </ul>

            <form class="form-inline my-2 my-md-0 ml-auto order-lg-4" asp-controller="Home" asp-action="SearchBook" asp-route-encryptEmail="@encryptEmail" method="get">
                <div class="input-group">
                    <input class="form-control" type="text" name="query" placeholder="Search for books" aria-label="Search">
                    <div class="input-group-append">
                        <button class="btn btn-outline-secondary" type="submit">
                            <i class="fas fa-search"></i>
                        </button>
                    </div>
                </div>
            </form>
            @if (userId != null && admin != "admin")
            {
                <ul class="navbar-nav ml-auto order-md-4">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="accountDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fas fa-user"></i> Account
                        </a>
                        <div class="dropdown-menu" aria-labelledby="accountDropdown">
                            <a class="dropdown-item" asp-controller="User" asp-action="Orders" asp-route-encryptEmail="@encryptEmail">Orders</a>
                            <a class="dropdown-item" href="#">Settings</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" asp-controller="User" asp-action="LogOut">Logout</a>
                        </div>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" asp-controller="Cart" asp-action="Cart" asp-route-encryptEmail="@encryptEmail">
                            <i class="fas fa-shopping-cart"></i> Cart
                        </a>
                    </li>
                </ul>
            }
            else if (admin == "admin")
            {
                <ul class="navbar-nav ml-auto order-md-4">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="accountDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fas fa-user"></i> Add Book
                        </a>
                        <div class="dropdown-menu" aria-labelledby="accountDropdown">
                            <a class="dropdown-item" asp-controller="Admin" asp-action="SearchByISBN" asp-route-encryptEmail="@encryptEmail">Auto</a>
                            <a class="dropdown-item" asp-controller="Admin" asp-action="AddBook" asp-route-encryptEmail="@encryptEmail" >Manually</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" asp-controller="Admin" asp-action="LogOut">Logout</a>
                        </div>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" asp-controller="Admin" asp-action="AllOrder" asp-route-encryptEmail="@encryptEmail">
                            <i class="fas fa-truck"></i> Orders 
                        </a>
                    </li>
                </ul>
            }
            else
            {
                <ul class="navbar-nav ml-auto order-md-4">
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="User" asp-action="Login">
                            <i class="fas fa-sign-in-alt"></i>
                            Sign In
                        </a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" asp-controller="User" asp-action="Registration">
                            <i class="fas fa-user-plus"></i>
                            Sign Up
                        </a>
                    </li>
                </ul>
            }

        </div>
    </nav>
</header>

@section Script{
    <script>
        $(window).scroll(function () {
            var scroll = $(window).scrollTop();

            if (scroll >= 50) {
                $(".navbar").addClass("shadow-sm");
            } else {
                $(".navbar").removeClass("shadow-sm");
            }
        });

    </script>
}
